<aside class="main-sidebar">
     <!-- sidebar: style can be found in sidebar.less -->
     <section class="sidebar">
          <!-- Sidebar Menu -->
          <div class="side-1">
               <!-- <h3 class="title">CAMPAIGN</h3> -->
               <ul class="sidebar-menu">
                    <!-- Optionally, you can add icons to the links -->
                    <li class="header">
                         <h3 class="title">CAMPAIGN</h3>
                    </li>
                    <li class="active " (click) = reDirect()>
                         <a [routerLink]="['child-one']">
                              <i class="fa fa-list"></i>
                              <span>All Campaign</span>
                         </a>
                    </li>
                   
                    
                    <li class="header">
                         <h3 class="title title-style">MANAGE</h3>
                    </li>
                    <li (click) = reDirect()>
                         <a [routerLink]="['child-two']">
                              <i class="fa fa-cubes"></i>
                              <span>Organization</span>
                         </a>
                    </li>
                    <li>
                         <a href="#">
                              <i class="fa fa-tablet"></i>
                              <span>Decives</span>
                         </a>
                    </li>
                    <li class="treeview">
                         <a href="#">
                              <i class="fa fa-file-text-o"></i>
                              <span>Plans</span>
                         </a>
                        
                    </li>
                    <li class="header">
                         <h3 class="title title-style">APPLICATION</h3>
                    </li>
                    <li>
                         <a href="#">
                              <i class="fa fa-files-o"></i>
                              <span>Applications</span>
                         </a>
                    </li>
                    <li class="header">
                         <h3 class="title title-style">SETTINGS</h3>
                    </li>
                    <li>
                         <a href="#">
                              <i class="fa fa-lock"></i>
                              <span>Password</span>
                         </a>
                    </li>
                    <li>
                         <a href="#">
                              <i class="fa fa-user"></i>
                              <span>Role</span>
                         </a>
                    </li>
                   
               </ul>
          </div>
          <!-- /.sidebar-menu -->
     </section>
     <!-- /.sidebar -->
</aside>