<header class="main-header">

  <a routerLink="" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
      <img src='assets/images/logo.png' />
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <img src='assets/images/logo.png' />
    </span>
  </a>

  <!-- Logo -->
  <!-- <a href="#" class="logo"> -->
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <!-- <span class="logo-mini"><b>A</b>LT</span> -->
    <!-- logo for regular state and mobile devices -->
    <!-- <span class="logo-lg"><b>Admin</b>LTE</span> -->
    <!-- <img src="assets/images/logo.png" alt=""> -->
  <!-- </a> -->

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li><a>Admin</a></li>
        <li><a>Sign Out</a></li>
      </ul>
    </div>
  </nav>
</header>
